@import "tailwindcss";

hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.hide-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

  @theme {
    @keyframes lineSlider {
     from{
       width: 100%;
        padding: 0 46px;
     }
     to{
       width: 0%;
       padding: 0px;
     }
   }
   
   --animate-lineSlider:lineSlider 2.2s linear .8s forwards ;
   

   @keyframes HamburgerSlider{
    0%{
      opacity: 0;
      right: 0px;
    }
   
    75%{
        opacity: 1;
      right:56px;
    }

    100%{
      opacity: 0;
      right: 0px;
    }
  }
    --animate-HamburgerSlider:HamburgerSlider 4s cubic-bezier(0.1, 0.8, 0.3, 1) forwards;
}